.header {
  background-color: $color_black;
  padding: 15px 0;
}

.header__logo {
  width: 114px;
  height: 51px;
  display: block;
  margin-right: 291px;
}

.header__wrapper {
  display: flex;
  align-items: center;
}
