.news {
  background-color: #27282d;
  color: #ffffff;
  position: relative;
  box-shadow: 0px 0px 58px 0px rgba(1, 2, 2, 0.97);
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-image: url("../img/hex.png");
  background-position: -40px -35px;
  background-repeat: no-repeat;
  width: 1170px;
  padding-bottom: 40px;
  
  &::after {
    content: "";
    width: 176px;
    height: 108px;
    background-image: url("../img/arrow.png");
    display: block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    background-repeat: no-repeat;
    bottom: -50px;
    z-index: -1;
  }
}

.news__photo {
  width: 269px;
  height: 226px;
}

.news__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 3px;
    background: #ffffff;
    margin-right: 30px;
    margin-left: -40px;
  }
}

.news__wrapper {
  display: flex;
  margin-bottom: 25px;
}

.news__text {
  width: 355px;
}

.news__info {
  margin-left: 25px;
}