.social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  width: 298px;
  height: 180px;
}

.social__img {
  position: absolute;
  height: 25px;
  width: 28px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.social__item {
  position: relative;
  background-color: $color_blue;
  margin-right: 5px;
  margin-bottom: 5px;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  
  &:hover {
    opacity: 0.7;
  }
}