$font-base: "Open Sans", sans-serif;

$color_black: #121212;
$color_dark: #15161a;
$color_blue: #20bcbc;
$color_acid-blue: #20bcbc;
$color_grey: #26272c;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
